body {
   background-color: gray;
   margin: 0;
}

#container {
   width: 960px;
   height: 180px;
   background-color: black;
}

.filmstrip {
   position: relative;
   background-color: white;
}

.frame {
   float: left;
   overflow: hidden;
}

.frame img {
   height: 140px;
   margin: 20px;
}
